@import "tailwindcss";

/* Optional: your custom CSS */
:root {
  --brand: #0ea5e9;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.input {
  @apply w-full rounded-md border px-4 py-3 text-sm
         focus:outline-none focus:ring-2 focus:ring-teal-500;
}
